<li>
  <a
    class="text-base relative before:content-[''] before:absolute before:block before:w-full before:h-[2px] before:bottom-0 before:left-0 before:bg-black dark:before:bg-white before:hover:scale-x-100 before:scale-x-0 before:origin-top-left before:transition before:ease-in-out before:duration-300 cursor-pointer select-none"
    href="<%= href %>"
  >
    <%= label %>
  </a>
</li>